
*, 
*::before, /*In CSS, ::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default. */


*::after{  /* In CSS, ::after creates a pseudo-element that is the last child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 16px;
    min-height: 100%; /* gives a relative height to the entire document */
}

body{
    min-height: 100vh; /* can go bigger but not smaller */
}

.container{
    width: min(90%, 1140px); /* makes entire page responsive */ 
    margin: 3rem auto;
}

.comment_container{
    display: none;
    position: relative;
}

.comment_container.opened{
    display: block;
}

.comment_container::before{
    content: "";
    background-color: rgb(168, 168, 168);
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;  
}

.comment_container:not(:first-child){ 
    /* The :not() CSS pseudo-class represents elements that do not match a list of selectors. Since it prevents specific items from being selected, it is known as the negation pseudo-class. */
    
    margin-left: 3rem; /* moves nested comments to the right to help readability*/
    margin-top: 1rem; 
    
    /* In CSS rem stands for “root em”, a unit of measurement that represents the font size of the root element. This means that 1rem equals the font size of the html element, which for most browsers has a default value of 16px. Using rem can help ensure consistency of font size and spacing throughout your UI. */
}

.comment_card{ /* Come back and figure out why this isn't wokring */
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: .5rem; /* The border-radius CSS property rounds the corners of an element's outer border edge. You can set a single radius to make circular corners, or two radii to make elliptical corners. */
    min-width: 100%;
    box-shadow: 0 0 5px 1px;
}

.comment_card_footer{
    display: flex;
    font-size: .85rem; /* 200px dived by 16 = rem*/
    opacity: .6;
    gap: 30px; /* The gap CSS property sets the gaps (gutters) between rows and columns. It is a shorthand for row-gap and column-gap. */
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
